.h-25 { height: 25%; }
.h-50 { height: 50%; }
.h-75 { height: 75%; }
.h-100 { height: 100%; }
.h-screen { height: 100vh; }

@media (min-width: $sm-breakpoint) {
    .sm-h-25 { height: 25%; }
    .sm-h-50 { height: 50%; }
    .sm-h-75 { height: 75%; }
    .sm-h-100 { height: 100%; }
    .sm-h-screen { height: 100vh; }
}

@media (min-width: $md-breakpoint) {
    .md-h-25 { height: 25%; }
    .md-h-50 { height: 50%; }
    .md-h-75 { height: 75%; }
    .md-h-100 { height: 100%; }
    .md-h-screen { height: 100vh; }
}

@media (min-width: $lg-breakpoint) {
    .lg-h-25 { height: 25%; }
    .lg-h-50 { height: 50%; }
    .lg-h-75 { height: 75%; }
    .lg-h-100 { height: 100%; }
    .lg-h-screen { height: 100vh; }
}

@media (min-width: $xl-breakpoint) {
    .xl-h-25 { height: 25%; }
    .xl-h-50 { height: 50%; }
    .xl-h-75 { height: 75%; }
    .xl-h-100 { height: 100%; }
    .xl-h-screen { height: 100vh; }
}