.size-8 { font-size: 8px !important; }
.size-9 { font-size: 9px !important; }
.size-10 { font-size: 10px !important; }
.size-12 { font-size: 12px !important; }
.size-14 { font-size: 14px !important; }
.size-16 { font-size: 16px !important; }
.size-18 { font-size: 18px !important; }
.size-20 { font-size: 20px !important; }
.size-22 { font-size: 22px !important; }
.size-24 { font-size: 24px !important; }
.size-30 { font-size: 30px !important; }
.size-36 { font-size: 36px !important; }
.size-48 { font-size: 48px !important; }
.size-58 { font-size: 58px !important; }

@media (min-width: $sm-breakpoint) {
    .sm-size-8 { font-size: 8px !important; }
    .sm-size-9 { font-size: 9px !important; }
    .sm-size-10 { font-size: 10px !important; }
    .sm-size-12 { font-size: 12px !important; }
    .sm-size-14 { font-size: 14px !important; }
    .sm-size-16 { font-size: 16px !important; }
    .sm-size-18 { font-size: 18px !important; }
    .sm-size-20 { font-size: 20px !important; }
    .sm-size-22 { font-size: 22px !important; }
    .sm-size-24 { font-size: 24px !important; }
    .sm-size-30 { font-size: 30px !important; }
    .sm-size-36 { font-size: 36px !important; }
    .sm-size-48 { font-size: 48px !important; }
    .sm-size-58 { font-size: 58px !important; }
}

@media (min-width: $md-breakpoint) {
    .md-size-8 { font-size: 8px !important; }
    .md-size-9 { font-size: 9px !important; }
    .md-size-10 { font-size: 10px !important; }
    .md-size-12 { font-size: 12px !important; }
    .md-size-14 { font-size: 14px !important; }
    .md-size-16 { font-size: 16px !important; }
    .md-size-18 { font-size: 18px !important; }
    .md-size-20 { font-size: 20px !important; }
    .md-size-22 { font-size: 22px !important; }
    .md-size-24 { font-size: 24px !important; }
    .md-size-30 { font-size: 30px !important; }
    .md-size-36 { font-size: 36px !important; }
    .md-size-48 { font-size: 48px !important; }
    .md-size-58 { font-size: 58px !important; }
}

@media (min-width: $lg-breakpoint) {
    .lg-size-8 { font-size: 8px !important; }
    .lg-size-9 { font-size: 9px !important; }
    .lg-size-10 { font-size: 10px !important; }
    .lg-size-12 { font-size: 12px !important; }
    .lg-size-14 { font-size: 14px !important; }
    .lg-size-16 { font-size: 16px !important; }
    .lg-size-18 { font-size: 18px !important; }
    .lg-size-20 { font-size: 20px !important; }
    .lg-size-22 { font-size: 22px !important; }
    .lg-size-24 { font-size: 24px !important; }
    .lg-size-30 { font-size: 30px !important; }
    .lg-size-36 { font-size: 36px !important; }
    .lg-size-48 { font-size: 48px !important; }
    .lg-size-58 { font-size: 58px !important; }
}

@media (min-width: $xl-breakpoint) {
    .xl-size-8 { font-size: 8px !important; }
    .xl-size-9 { font-size: 9px !important; }
    .xl-size-10 { font-size: 10px !important; }
    .xl-size-12 { font-size: 12px !important; }
    .xl-size-14 { font-size: 14px !important; }
    .xl-size-16 { font-size: 16px !important; }
    .xl-size-18 { font-size: 18px !important; }
    .xl-size-20 { font-size: 20px !important; }
    .xl-size-22 { font-size: 22px !important; }
    .xl-size-24 { font-size: 24px !important; }
    .xl-size-30 { font-size: 30px !important; }
    .xl-size-36 { font-size: 36px !important; }
    .xl-size-48 { font-size: 48px !important; }
    .xl-size-58 { font-size: 58px !important; }
}