.text-white { color: #fff; } // TODO check this
.text-black { color: #14080E !important; } // TODO check this
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-success { color: var(--color-success); }
.text-info { color: var(--color-info); }
.text-warning { color: var(--color-warning); }
.text-error { color: var(--color-error); }
.text-primary-inverse { color: var(--color-primary-inverse); }
